/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-div {
    width: 280px;
    height: 440px;
    background-color: #ddd8be;
  }

